body.page-template-proximity-radius-template{
  background-color: #F9FAFC;
}

form.pr-form select {
  /* styling */
  background-color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pr-form-wrap {
  margin: auto;
  max-width: 1140px;
  padding: 0 15px;
}

.pr-noresults-wrap {
  margin: auto;
  max-width: 1080px;
}

.pr-container {
  background-color: #E5E7EB;
}

@media (min-width:900px) {
  .pr-container {
    margin-top: 35px;
  }
}

.pr-label {
  font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #262626;
}

.pr-form select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #0F4876, #0F4876);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
	height: 45px;
  font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #6C6C6C;
    line-height: 21px;
}

.pr-form select.minimal:hover {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


form.pr-form input[type=text],
form.pr-form input[type=search],
form.pr-form input[type=email],
form.pr-form input[type=password],
form.pr-form input[type=number],
form.pr-form textarea {
	hyphens: manual;
	margin: 0;
	overflow: visible;
	outline-offset: -2px;
	box-sizing: border-box;
	height: 45px !important;
	appearance: none;
	border: 1px solid #666;
	border-radius: 3px;
	padding: .5rem 1rem;
	transition: all .3s;
	width: auto;
	font-family: "Open Sans", Sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #6C6C6C;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}

form.pr-form input[type=text]:focus,
form.pr-form input[type=search]:focus,
form.pr-form input[type=email]:focus,
form.pr-form input[type=password]:focus,
form.pr-form input[type=number]:focus,
form.pr-form textarea:focus {
  border: solid 1px #F2B338;
}

.pr-form-item {
	padding: 15px;
  float: left;
}

@media (min-width: 400px) {
  .pr-form-submit {
    padding-top: 57px;
  }
}

.clearfix {
  clear: both;
}

.pr-form-text {
	padding: 12px 15px;
    line-height: normal;
}

[type=submit].pr-submit {
	padding: 9px 10px!important;
}

.proximity-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  margin: -30px -30px 30px -30px;
}

.proximity-title {
	font-size: 24px;
	line-height: normal;
	margin: 15px 0;
}

.proximity-card:hover .proximity-title a {
	color: #0F4876!important;
	text-decoration: underline;
}

.proximity-card:hover {
  box-shadow: 0px 0px 30px 0px #DFE3EA;
}

.proximity-wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.proximity-item {
  display: flex;
  padding: 30px;
	margin: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .proximity-item {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .proximity-item {
    width: 33.3333%;
  }
}
.proximity-card {
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
          flex-direction: column;
  position: relative;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px #DFE3EA;
}

.proximity-content {
margin-bottom: 40px;
}

.proximity-location {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.proximity-link {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #0F4876!important;
  font-family: "Open Sans", Sans-serif!important;
  font-weight: bold!important;
  font-size: 14px!important;
  background-color: #fff;
  padding: 7px 12px;
  border-radius: 3px;
  line-height: 19px;
  margin-right: -6px;
}

.proximity-link:hover {
  background-color: #D6D6D6;
  padding: 7px 12px;
  border-radius: 3px;
  line-height: 19px;
}

.pr-hero-wrap {
  background-position: 0px 33%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pr-hero-content {
  max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 66px 30px 66px;
}
.pr-hero-overlay {
  background-image: linear-gradient(178deg, rgba(15,72,118,.8) 0%, rgba(6,49,83,.8) 100%);
}

.pr-hero-content h2 {
hyphens: manual;
box-sizing: border-box;
padding: 0;
margin: 0 0 66px;
line-height: 1;
font-family: 'Work Sans', sans-serif;;
color: #FFFFFF;
font-size: 70px;
font-weight: 800;
}

.pr-hero-content p {
  hyphens: manual;
  color: #FFFFFF;
  font-family: "Open Sans", Sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0;
  margin-bottom: .9rem;
  box-sizing: border-box;
}

.pagination {
  margin: auto;
  max-width: 1140px;
  padding: 30px;
}

.pagination .page-numbers {
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
hyphens: manual;
text-align: left;
cursor: pointer;
box-sizing: border-box;
font-size: 14px;
font-weight: bold;
line-height: 14px;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #979797;
background-color: #F5F5F5;
color: #262626;
padding: 10px 11px 10px 12px;
}

.pagination .page-numbers:hover {
  border-color: #F2B338;
  background-color: #F2B338;
}

.pagination .page-numbers.current {
  background-color: #F2B338;
    border-color: #F2B338;
}



.pr-form select.minimal, form.pr-form input[type=text], form.pr-form input[type=search], form.pr-form input[type=email], form.pr-form input[type=password], form.pr-form input[type=number], form.pr-form textarea {
    height: 40px!important;
}

form.pr-form input[type=text], form.pr-form input[type=search], form.pr-form input[type=email], form.pr-form input[type=password], form.pr-form input[type=number], form.pr-form textarea {
    height: 40px !important;
}

.proximity-wrap {
	max-width: 1140px;
	margin: auto;
}

.pr-address {
	display: none;
}

[type=submit].pr-submit {
line-height: 1;
text-align: center;
transition: all .3s;
box-shadow: none;
text-decoration: none;
width: auto;
font-family: "Open Sans", Sans-serif;
font-size: 18px;
font-weight: bold;
fill: #0F4876;
color: #0F4876;
background-color: rgba(147, 147, 147, 0);
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #0F4876;
border-radius: 5px 5px 5px 5px;
padding: 16px 16px 16px 16px;
}

[type=submit].pr-submit:hover, [type=submit].pr-submit:focus {
background-color: #0F4876;
}

.proximity-title a {
word-break: break-word;
text-align: left;
hyphens: manual;
font-family: 'Work Sans', sans-serif;;
font-weight: 800;
background-color: transparent;
box-sizing: border-box;
box-shadow: none;
text-decoration: none;
font-size: inherit;
line-height: inherit;
color: #262626!important;
}

.proximity-title a:hover {
  color: #0F4876!important;
  text-decoration: underline;
}

.proximity-type a {
	color: #000;
	position: relative;
	padding-left: 10px;
  color: #262626!important;
}
.proximity-type a::before {
    content: "#";
    font-size: 10pt;
    position: absolute;
    top: 0;
    left: 0;
}

.pr-reset:hover {
  color: #0F4875;
}
