form.pr-form select {
  /* styling */
  background-color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pr-form select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
	height: 45px;
}

.pr-form select.minimal:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


form.pr-form input[type=text],
form.pr-form input[type=search],
form.pr-form input[type=email],
form.pr-form input[type=password],
form.pr-form input[type=number],
form.pr-form textarea {
	hyphens: manual;
	margin: 0;
	overflow: visible;
	outline-offset: -2px;
	box-sizing: border-box;
	height: 45px !important;
	appearance: none;
	border: 1px solid #666;
	border-radius: 3px;
	padding: .5rem 1rem;
	transition: all .3s;
	width: auto;
	font-family: "Open Sans", Sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #6C6C6C;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}

.pr-form-wrap {
  display: flex;
  flex-wrap: wrap;
}

.pr-form-item {
  display: flex;
	padding: 15px;
}

.pr-form-text {
	padding: 12px 15px;
    line-height: normal;
}

.pr-submit {
	padding: 5px 15px!important;
}

.proximity-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 150px;
  margin: -30px -30px 30px -30px;
}

.proximity-title {
	font-size: 24px;
	line-height: normal;
	margin: 15px 0;
}

.proximity-wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.proximity-item {
  display: flex;
  padding: 30px;
	margin: 0;
}
@media (min-width: 600px) {
  .proximity-item {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .proximity-item {
    width: 33.3333%;
  }
}
.proximity-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: hidden;
}

.proximity-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  padding: 30px;
}

.proximity-content {
margin-bottom: 40px;
}

.proximity-location {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.proximity-link {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
